.react-flow__node {
  border: 2px solid #23272a;
  padding: 10px;
  border-radius: 10px;
}

.react-flow__node.selected {
  background-color: lightgreen;
}

.panel-buttons button {
  color: #23272a;
  border: 1px solid #23272a;
  cursor: pointer;
  padding: 10px;
  margin: 5px;
}
